.bg-body{
	background-color: #e7e7e7 ;
}

.box-login{
	border: solid 1px silver;
	border-radius: 5px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: white;
}

.box-login-header{
	text-align: center;
}
.img-logo{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.login-box-text{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
}

.box-body{
	padding: 15px;
}

.login-box-msg-error{
	color: red;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
}
.box-adenied{
	border: solid 1px silver;
	border-radius: 5px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: white;
}

.box-adenied-header{
	text-align: center;
}

.img-logo{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.box-adenied-text{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
}

.box-body{
	padding: 15px;
}

.box-adenied-msg{
	font-size: 1.2em;
	color: red;
	text-align: center;
}

.avatarimg{
	margin-top: -12px;
	margin-bottom: -12px;
	width:28px;
	height:28px;
	border-radius: 28px;
}

.txtcenter{
	text-align: center;
}

.mtop-15{
	margin-top: 15px;
}

.recover-box-msg{
	color: black;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
}

.link-login{
	margin-bottom: 17px;
	height: 27px;
}

.mh-25{
	min-height: 30px;
}