body{
	background-color: #e7e7e7;
}

.box-adenied{
	border: solid 1px silver;
	border-radius: 5px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: white;
}

.box-adenied-header{
	text-align: center;
}

.img-logo{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.box-adenied-text{
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
}

.box-body{
	padding: 15px;
}

.box-adenied-msg{
	font-size: 1.2em;
	color: red;
	text-align: center;
}

.avatarimg{
	margin-top: -12px;
	margin-bottom: -12px;
	width:28px;
	height:28px;
	border-radius: 28px;
}

.texthap{
	margin-top: 0px;
	margin-right: 7px;
	font-size: 1.2em;
	display: block;
}

.texthas{
	margin-top: 0px;
	padding-top: 4px;
	font-size: 0.9em;
	display: block;
}

.m-l{
	margin-left: 25px;
}
.m-r{
	margin-right: 25px;
}

.pd-lr{
	padding-left: 25px;
	padding-right: 25px;
}

.texthcenter{
	text-align: center;
}
.lnh-30{
	line-height: 30px;
}

.dicontent{
	text-align: center;
}

.imguserprofile{
	width: 150px;
	height:  150px;
	border-radius: 75px;
	border: solid 1px silver;
}

.datarow{
	text-align: center;
}
.texthright{
	text-align: right;
}
.imgfileinput{
	visibility: hidden;
	display: none !important;
}

@media (max-width: 576px) {
	.resh6{
		display: none;	
	}
}

@media (max-width: 768px) {
	.resh9{
		display:none;
	}
}
